.introSection {
    /* background: linear-gradient(to right, rgba(154, 34, 246, 0.95), rgba(211, 9, 234, 0.95)); */
    background: linear-gradient(to right, #00203FFF, rgb(12, 89, 165));
    padding: 10rem 0 0 0;
    height: 100%;
}

.description {
    font-size: 25px;
}

#button {
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000;
    border-color: #ffffff;
}

#button:hover {
    background-color: rgba(30, 3, 120, 0.95);
    color: #ffffff;
    /* Matching text color */
}

.img_box {
    width: 80%;
    height: 80%;
    /* display: none; */
}