#row {
    color: red;
}

#card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#card:hover {
    box-shadow: 0 0 10px rgba(213, 35, 35, 0.5);
    padding: 10px;
}

#card_col {
    transition: transform 0.3s ease;
}

#card_col:hover {
    transform: translateY(-10px);
}